<div class="uui-page-padding-3">
      <div class="uui-container-large-3">
        <div class="uui-padding-vertical-xlarge">
          <div class="w-layout-grid uui-footer01_top-wrapper">
            <div class="uui-footer01_left-wrapper">
              <a href="#" class="uui-footer01_logo-link w-nav-brand">
                <div class="uui-logo_component-2"><img src="/images/quins_logo.svg" loading="lazy" alt="Untitled UI logotext" class="uui-logo_logotype"></div>
              </a>
              <div class="uui-text-size-medium">Optical inspection systems for electronic circuit boards. We supply the right hardware and software to make the testing process easier and more accurate than ever before. Made in Germany.</div>
            </div>
            <div class="w-layout-grid uui-footer01_menu-wrapper">
              <div id="w-node-d41414ad-0d89-08e3-9915-8567649b1282-649b1276" class="uui-footer01_link-list">
                <div class="uui-footer01_link-list-heading">Hardware</div>
                <a href="/en/system/hardware/quins-pro.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Pro</div>
                </a>
                <a href="/en/system/hardware/quins-ultimate.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Ultimate</div>
                </a>
                <a href="/en/system/hardware/quins-mount.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Mount</div>
                  <div class="uui-badge-small-success">
                    <div>NEW</div>
                  </div>
                </a>
                <a href="/en/system/hardware/quins-flex-line.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Flex Line</div>
                </a> 
                <a href="/en/system/hardware/quins-attachments.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Attachments</div>
                </a>
              </div>
              <div id="w-node-d41414ad-0d89-08e3-9915-8567649b12a3-649b1276" class="uui-footer01_link-list">
                <div class="uui-footer01_link-list-heading">Software</div>
                <a href="/en/system/software/quins-easy.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Easy</div>
                </a>
                <a href="/en/system/software/quins-easy-plus.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Easy Plus</div>
                </a>
                <a href="/en/system/software/quins-easy-plus.html" class="uui-footer01_link w-inline-block">
                  <div>Quins AIP</div>
                  <div class="uui-badge-small-success">
                    <div>NEU</div>
                  </div>
                </a>
                <a href="/en/system/module/quins-view.html" class="uui-footer01_link w-inline-block">
                  <div>Quins View</div>
                </a>
                <a href="/en/system/module/quins-repair.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Repair</div>
                </a>
                <a href="/en/system/module/quins-statistics.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Statistics</div>
                </a>
                <a href="/en/system/module/quins-tools.html" class="uui-footer01_link w-inline-block">
                  <div>Quins Tools</div>
                </a>
              </div>
            </div>
          </div>
          <div class="uui-footer01_bottom-wrapper">
            <div class="uui-text-size-small text-color-gray500">© 2026 Quins | Website by Quins
            </div>
            <div class="w-layout-grid uui-footer01_legal-list">
              <a href="/en/impressum.html" class="uui-footer01_legal-link">Imprint</a>
              <a href="/en/datenschutz.html" class="uui-footer01_legal-link">Privacy policy</a>
            </div>
            <div class="w-layout-grid uui-footer02_social-list">
              <a href="https://www.youtube.com/@quinsqualityinspectionsyst9926" target="_blank" class="uui-footer02_social-link w-inline-block">
                <div class="uui-footer02_social-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <polygon points="160 128 112 96 112 160 160 128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16">
                    <path d="M24,128c0,29.91,3.07,47.45,5.41,56.47A16,16,0,0,0,39,195.42C72.52,208.35,128,208,128,208s55.48.35,89-12.58a16,16,0,0,0,9.63-10.95c2.34-9,5.41-26.56,5.41-56.47s-3.07-47.45-5.41-56.47a16,16,0,0,0-9.63-11C183.48,47.65,128,48,128,48s-55.48-.35-89,12.58a16,16,0,0,0-9.63,11C27.07,80.54,24,98.09,24,128Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                  </polygon></svg></div>
              </a>
              <a href="https://www.linkedin.com/company/quins-systems/" target="_blank" class="uui-footer02_social-link w-inline-block">
                <div class="uui-footer02_social-icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.2234 0H1.77187C0.792187 0 0 0.773438 0 1.72969V22.2656C0 23.2219 0.792187 24 1.77187 24H22.2234C23.2031 24 24 23.2219 24 22.2703V1.72969C24 0.773438 23.2031 0 22.2234 0ZM7.12031 20.4516H3.55781V8.99531H7.12031V20.4516ZM5.33906 7.43438C4.19531 7.43438 3.27188 6.51094 3.27188 5.37187C3.27188 4.23281 4.19531 3.30937 5.33906 3.30937C6.47813 3.30937 7.40156 4.23281 7.40156 5.37187C7.40156 6.50625 6.47813 7.43438 5.33906 7.43438ZM20.4516 20.4516H16.8937V14.8828C16.8937 13.5562 16.8703 11.8453 15.0422 11.8453C13.1906 11.8453 12.9094 13.2937 12.9094 14.7891V20.4516H9.35625V8.99531H12.7687V10.5609H12.8156C13.2891 9.66094 14.4516 8.70938 16.1813 8.70938C19.7859 8.70938 20.4516 11.0813 20.4516 14.1656V20.4516Z" fill="currentColor"></path>
                  </svg></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>